Source: basestation-core-fuerte
Section: basestation/config
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: basestation-core-fuerte
Architecture: all
Depends: python, ros-fuerte-pr2-desktop, ros-fuerte-pr2-self-test
Description: Provides /etc/ros setup for the basestation on fuerte
Provides: ${diverted-files}
Conflicts: ${diverted-files}
