Source: basestation-core-electric
Section: basestation
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: basestation-core-electric
Architecture: all
Depends: python, ros-electric-pr2-desktop, ros-electric-pr2-self-test
Description: Provides /etc/ros setup for the basestation on electric
Provides: ${diverted-files}
Conflicts: ${diverted-files}
